@model YourNamespace.Models.ColliderMotorViewModel

<h2>Asignar Colliders a IPs</h2>

<form asp-action="AssignColliders" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Collider</th>
                <th>Asignar IP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collider in Model.Colliders)
            {
                <tr>
                    <td>@collider.Name</td>
                    <td>
                        <select name="Colliders[@Model.Colliders.IndexOf(collider)].MotorIP" class="form-control">
                            <option value="">Seleccionar IP</option>
                            @foreach (var ip in Model.AvailableIPs)
                            {
                                <option value="@ip">@ip</option>
                            }
                        </select>
                        <input type="hidden" name="Colliders[@Model.Colliders.IndexOf(collider)].Name" value="@collider.Name" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Guardar Asignaciones</button>
</form>
